.imgLogo{
    height: 50px;
    max-width: auto;
}

.pLabel{
    border: 1px solid #ddd;
    padding: 7px;
}

.aNavHover:hover {
    color: #fcb036 !important;
}

.inputAtivo{
    margin-top: 5px;
    margin-left: 11px;
}

/*estilos para impressão*/
@media print {
    body{
        margin-top: 0px;
    }

    header,
    .membroAtivo,
    .footer,
    .btnImprimir {
        display: none;
    }
}