@{
    ViewData["Title"] = "POLÍTICA DE PRIVACIDADE - IGREJA BATISTA ALVORADA";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<br />
<h4>
    <ul>
        <li>
            1. Informações Coletadas:

            Ao utilizar nosso site, podemos coletar informações pessoais, como nome, endereço de e-mail, número de telefone.
        </li>
        <li>
            2. Uso das Informações:

            As informações coletadas podem ser usadas para envio de comunicações relacionadas à igreja, atualizações sobre a construção, solicitação de doações, entre outros. Não compartilharemos suas informações com terceiros sem seu consentimento, exceto quando exigido por lei.
        </li>
        <li>
            3. Compartilhamento de Informações:

            Suas informações não serão compartilhadas, vendidas ou alugadas a terceiros para fins de marketing. Podemos compartilhar informações com prestadores de serviços que nos auxiliam na gestão do site e em atividades relacionadas à igreja.
        </li>
        <li>
            4. Cookies e Tecnologias Similares:

            Nosso site pode utilizar cookies para melhorar a experiência do usuário. Esses cookies não coletam informações pessoais identificáveis. Os usuários podem gerenciar suas preferências de cookies através das configurações do navegador.
        </li>
    </ul>
</h4>
